<div class="reservation-popup" *ngIf="drive">
  <div class="reservation-popup-content">
    <h2>Réservation de Trajet</h2>

    <div class="drive-details">
      <div class="detail-row">
        <p><strong>Trajet:</strong></p>
        <p>{{ drive.pickup }} → {{ drive.destination }}</p>
      </div>
      <div class="detail-row">
        <p><strong>Date et Heure de départ:</strong></p>
        <p>{{ drive.deptime | date: 'dd/MM/yyyy HH:mm' }}</p>
      </div>
      <div class="detail-row">
        <p><strong>Prix par siège:</strong></p>
        <p>{{ drive.price | currency: 'MAD' }}</p>
      </div>

      <div class="seats-selection">
        <label for="seats">Nombre de sièges:</label>
        <input
          type="number"
          id="seats"
          [(ngModel)]="selectedSeats"
          min="1"
          [max]="drive.seating"
          (input)="validateSeats()"
        />
      </div>
      
      <div *ngIf="seatError" class="error-message">
        Nombre de sièges ne peut pas dépasser {{ drive.seating }}.
      </div>
      
      <div class="total-price">
        <p><strong>Total:</strong></p>
        <p>{{ totalPrice | currency: 'MAD' }}</p>
      </div>
      

    <button class="complete-reservation" (click)="completeReservation()">Compléter la réservation</button>
  </div>
</div>
