<header class="header">
  <div class="header-container">
    <div class="logo-container">
      <img src="assets/lo7nim3ak-high-resolution-logo-transparent.png" alt="App Logo" class="logo" />
      <div class="web-app-badge">Web App</div>
    </div>
    <nav class="header-nav">
      
     
      
     
    </nav>
    <div class="auth-buttons">
      <button class="btn" routerLink="/signup">
        <span class="auth-icon">👤</span> S'inscrire
      </button>
      <button class="btn btn-secondary" routerLink="/login">
        <span class="auth-icon">🔑</span> Se connecter
      </button>
    </div>
  </div>
</header>
