<header class="header">
  <div class="header-container">
    <div class="logo-container">
      <img src="assets/lo7nim3ak-high-resolution-logo-transparent.png" alt="App Logo" class="logo" />
      <div class="web-app-badge">Web App</div>
    </div>
    <nav class="header-nav">
      <div class="nav-buttons">
        <button *ngIf="isLoggedIn" routerLink="/MyReservations" class="reservations-btn">My Reservations</button>
        <button *ngIf="isLoggedIn" routerLink="/MyOffers" class="offers-btn">My Offers</button>
        <button *ngIf="isLoggedIn" routerLink="/MyConversations" class="conversations-btn">My Conversations</button>
      </div>
    </nav>
    <div class="auth-buttons">
      <button class="btn btn-secondary" *ngIf="!isLoggedIn" (click)="login()">
        <span class="auth-icon">🔑</span> Se connecter / S'inscrire
      </button>
      
      <button class="btn btn-secondary" *ngIf="isLoggedIn" (click)="logout()">
        <span class="auth-icon">🚪</span> Se déconnecter
      </button>
    </div>
  </div>
</header>
