<div class="flex justify-content-end">
    <button mat-icon-button class="m-2" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div id="creditCard" class="form-area">
    <h3 class="text-2xl font-bold text-center">Credit or Debit Card</h3>
  
    <div id="card-element">
      <!-- a Stripe element will be inserted here -->
    </div>
  
    <!-- Used to display form errors -->
    <div [ngClass]="displayError?.textContent !== '' ? 'alert alert-danger mt-1' : ''" id="card-errors">
    </div>
  </div>
  <button class="preview-button absolute bottom-0 left-0 right-0 bg-[#1d3a5c] text-white py-2" 
          (click)="payBill()" 
          [disabled]="!isFormValid">Confirm Payment
  </button>
  